{% extends "main/base.html" %}
{% block content %}
<style>
    .custom-height-container {
        height: 500px; /* Set your desired height */
    }
</style>

<div class="container mt-5 text-center mb-5 .custom-height-container ">
    <h1 class="display-4">Thank You for Requesting a Swab Kit from DONATEBLOOD</h1>
    <p class="lead">Signing up for a free swab kit online is the first step to be a potential blood stem cell donor.</p>
    <p class="lead">Next, swab your cheeks and return your kit to complete the registration process.</p>
</div>
{% endblock content %}