{% extends "main/base.html" %}
{% block title %}Search{% endblock title %}
{% block content %}

<style>
	.size {
		min-height: 0px;
		padding: 60px 0 40px 0;

	}

	.loader {
		display: none;
		width: 69px;
		height: 89px;
		position: absolute;
		top: 25%;
		left: 50%;
		padding: 2px;
		z-index: 1;
	}

	.loader .fa {
		color: #e74c3c;
		font-size: 52px !important;
	}

	.form-group {
		text-align: left;
	}

	h1 {
		color: white;
	}

	h3 {
		color: #e74c3c;
		text-align: center;
	}

	.red-bar {
		width: 25%;
	}

	span {
		display: block;
	}

	.name {
		color: #e74c3c;
		font-size: 22px;
		font-weight: 700;
	}

	.donors_data {
		background-color: white;
		border-radius: 5px;
		margin: 25px;
		-webkit-box-shadow: 0px 2px 5px -2px rgba(89, 89, 89, 0.95);
		-moz-box-shadow: 0px 2px 5px -2px rgba(89, 89, 89, 0.95);
		box-shadow: 0px 2px 5px -2px rgba(89, 89, 89, 0.95);
		padding: 20px 10px 20px 30px;
	}
</style>
<div class="container-fluid red-background size">
	<div class="row">
		<div class="ccol-md-6 offset-md-3">
			<h1 class="text-center">Search Donors</h1>
			<hr class="white-bar">
			<br>
			<form action="{% url 'search' %}" method="get">
				<div class="form-inline text-center" style="padding: 40px 0px 0px 5px;">
					<div class="form-group text-center center-aligned">
						<select style="width: 220px; height: 45px;" name="division" id="division"
							class="form-control demo-default" required>
							<option value="">-- Select --</option>
							<optgroup title="Divisions" label="&raquo; Divisions"></optgroup>
							<option value="Dhaka">Dhaka</option>
							<option value="Chittagong">Chittagong</option>
							<option value="Khulna">Khulna</option>
							<option value="Rajshahi">Rajshahi</option>
							<option value="Barisal">Barisal</option>
							<option value="Sylhet">Sylhet</option>
							<option value="Rangpur">Rangpur</option>
							<option value="Mymensingh">Mymensingh</option>
						</select>
					</div>
					<div class="form-group center-aligned">
						<select name="blood_group" id="blood_group" style="padding: 0 20px; width: 220px; height: 45px;"
							class="form-control demo-default text-center margin10px">

							<option value="A+">A+</option>
							<option value="A-">A-</option>
							<option value="B+">B+</option>
							<option value="B-">B-</option>
							<option value="AB+">AB+</option>
							<option value="AB-">AB-</option>
							<option value="O+">O+</option>
							<option value="O-">O-</option>

						</select>
					</div>
					<div class="form-group center-aligned">
						<button type="submit" class="btn btn-lg btn-default" id="search">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container" style="padding: 60px 0 60px 0;">
	<div class="row">
		{% if donors %}
		{% for donor in donors %}
		  <div class="col-md-4">
			<div class="card mb-4 box-shadow">
			  <div class="card-body donors_data">
				<p class="name"><strong>Donor</strong> : {{ donor.first_name }}</p>
				<p><strong>Blood Group</strong> : {{ donor.blood_group }}</p>
				<p><strong>Division</strong> : {{ donor.division }}</p>
				<p><strong>Gender</strong> : {{ donor.gender|capfirst }}</p>
				<p><strong>Email</strong> : {{ donor.email }}</p>
				<p><strong>Contact No</strong> : {{ donor.phone_number }}</p>
			  </div>
			</div>
		  </div>
		{% endfor %}
		{% else %}
		<div class="col-md-12">
			<div class="alert alert-warning" role="alert">
			  No results found.
			</div>
		  </div>
		{% endif %}
	  </div>

	  <nav aria-label="Page navigation">
		<ul class="pagination">
		  {% if page_obj.has_previous %}
			<li class="page-item">
			  <a class="page-link" href="?page=1{% if request.GET.blood_group %}&blood_group={{ request.GET.blood_group|urlencode }}{% endif %}{% if request.GET.division %}&division={{ request.GET.division|urlencode }}{% endif %}" aria-label="First">
				<span aria-hidden="true">&laquo;&laquo;</span>
			  </a>
			</li>
			<li class="page-item">
			  <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.blood_group %}&blood_group={{ request.GET.blood_group|urlencode }}{% endif %}{% if request.GET.division %}&division={{ request.GET.division|urlencode }}{% endif %}" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			  </a>
			</li>
		  {% endif %}
	  
		  <li class="page-item disabled">
			<span class="page-link">
			  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
		  </li>
	  
		  {% if page_obj.has_next %}
			<li class="page-item">
			  <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.blood_group %}&blood_group={{ request.GET.blood_group|urlencode }}{% endif %}{% if request.GET.division %}&division={{ request.GET.division|urlencode }}{% endif %}" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			  </a>
			</li>
			<li class="page-item">
			  <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.blood_group %}&blood_group={{ request.GET.blood_group|urlencode }}{% endif %}{% if request.GET.division %}&division={{ request.GET.division|urlencode }}{% endif %}" aria-label="Last">
				<span aria-hidden="true">&raquo;&raquo;</span>
			  </a>
			</li>
		  {% endif %}
		</ul>
	  </nav>
	  
	  
	</div>
<div class="loader" id="wait">
	<i class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () {
	  // Function to get query parameters from the URL
	  function getParameterByName(name, url) {
		if (!url) url = window.location.href;
		name = name.replace(/[\[\]]/g, "\\$&");
		var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
		  results = regex.exec(url);
		if (!results) return null;
		if (!results[2]) return "";
		return decodeURIComponent(results[2].replace(/\+/g, " "));
	  }
  
	  // Get blood_group and division from the query parameters
	  var bloodGroupParam = getParameterByName("blood_group");
	  var divisionParam = getParameterByName("division");
  
	  // Set the selected options in the dropdowns
	  document.getElementById("blood_group").value = bloodGroupParam || "A+";
	  document.getElementById("division").value = divisionParam || "";
	});
  </script>
  
{% endblock content %}
